.formacao-content {
  width: 100%;
  padding: 15% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #0F171D;
}

.formacao-box {
  position: relative;
  width: 90%;
  padding: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-formacao {
  font-family: 'NicoMoji', sans-serif;
  position: relative;
}

.element-pilar {
  /* Rectangle 33 */

  position: absolute;
  width: 157.43px;
  height: 250%;
  top: 100;
  left: 100;

  border: 1px solid;
  border-image: (45deg, #00aaff4d, #11171daf, #00aaff73) 1;

  background: conic-gradient(from -88.2deg at 19.96% 53.3%, #009AFF 0deg, rgba(0, 0, 0, 0) 360deg), linear-gradient(179.58deg, #11171D 11.8%, #00416B 52.46%, #11171D 90.1%);
  box-shadow: 0px 54px 58.9px -32px rgba(6, 157, 233, 0.48), 0px 4px 250px 130px rgba(0, 48, 76, 0.14);
  transform: rotate(43.25deg);
}

.element-pilar::before {
  content: "";
  position: absolute;
  inset: 0;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.element-pilar::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noise)' opacity='0.1'/></svg>");
  pointer-events: none;
}


.acento {
  position: relative;
  display: inline;
}

.tio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--font-body) - 13px);
  background-color: #ffffff;
  transform: translateX(-50%);
  top: 25%;
  left: 50%;
  border-radius: 100px;
}

.cedilha::after {
  content: "";
  position: absolute;
  width: 30%;
  height: calc(var(--font-body) - 13px);
  background-color: #ffffff;
  transform: translateX(-50%) rotate(90deg);
  bottom: 0;
  left: 50%;
  border-radius: 0px 100px 100px 0px;
}

.nav-formacao {
  position: relative;
  display: flex;
  gap: 30px;
}

.nav-formacao>button {
  background: none;
  border: 3px double rgba(255, 255, 255, 0.623);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 200ms;
}

.nav-formacao>button:hover {
  transform: scale(1.2);
  background-color: #0099ffa8;
}

.nav-formacao>button:active {
  transform: scale(1.2);
  background-color: #0099ffa8;
  transition: all 5ms;
}

.icon-formacao>svg {
  width: 100%;
}

.referencia {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .icon-formacao {
    display: none;
  }

  .formacao-box {
    display: flex;
    width: 60%;
  }

  .formacao-content {
    width: 100vw;
  }
}

@media (max-width: 700px) {
  .formacao-box {
    width: 80%;
  }
}