.footer {
    position: relative;
    background-color: #0a1c26;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    list-style: none;

    z-index: 1;
}




.marca {
    text-align: center;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info::after {
    content: '';
    position: absolute;
    top: -8px;
    right: -5%;
    border-top: white 3px solid;
    border-right: white 3px solid;
    border-bottom: white 3px solid;
    height: 100%;
    width: 10%;
    transform: skewX(-20deg);
}

.info::before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: -5%;
    border-top: white 3px solid;
    border-right: white 3px solid;
    border-bottom: white 3px solid;
    height: 100%;
    width: 10%;
    transform: skewX(-20deg) rotate(180deg);
}

.info {
    position: relative;
    padding: 5px;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}

/* .info:nth-child(1){
    border-left: white 1px solid;
}

.info:nth-child(3){
    border-right: white 1px solid;
} */

.link-box-about {
    position: relative;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.link-about {
    position: relative;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

.details {
    position: absolute;
    width: 100%;
    height: 10%;
    /* altura do quadrado/retângulo */
    background-color: #00bbd4c9;
    left: 0;
    bottom: 0;
    /* ajusta a distância do texto */
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.link-box-about:hover .details{
    height: 100%;
}


.link-box-about:hover .link-about {
    color: #ffffff;
}