@font-face {
  font-family: "NicoMoji";
  src: url("./Assets/fonts/NicoMoji-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0B1114;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-h1: clamp(2.5rem, 8vw, 5rem);
  --font-h2: clamp(1.8rem, 5vw, 3rem);
  --font-h3: clamp(1.3rem, 3vw, 2rem);
  --font-body: clamp(1rem, 2vw, 1.2rem);

}

h1 { font-size: var(--font-h1); }
h2 { font-size: var(--font-h2); }
h3, h4, h5, h6 { font-size: var(--font-h3); }

h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
p, li, span, a, button { line-height: 1.6; }



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}